#container {
    width:auto;
    margin: auto;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0;
}

#content {
    margin: 0;
    padding:10px 38px 10px 20px;
    width: 800px;
    float: left;
    border-right: 1px solid #E3E5B6;
}

#navigation {
    margin: 0;
    padding:10px 10px 10px 20px;
    float: right;
    height: 100%;
    border: 1px solid #666;
}

#footer {
    clear: both;
    padding:10px 20px;
    margin:0;

}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 800px;
}
