<!DOCTYPE>
<html>

	<head>
		<title>mycph</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/build/styles/base.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src="/build/js/mycph.js"></script>
	</head>

	<body>
		<div id="mycph">Loading...</div>

    <script>
      mycph.init(document.getElementById("mycph"));
      mycph.run();
    </script>
	</body>

</html>
